<div class="row bois " height="500px">
    <div class="col-2 mt-2"> 
      <img src="{{ asset('images/logo Arcadia.jpg')}}" alt="image girafe" height="40px" class="marginLogo mt-1">
    </div>

    <div class="col-3 "> 
      <h1 class="Title MarginTitle text-center mt-2 fw-bolder">ARCADIA</h1>
    </div>

    <div class="col-5 "> 
      <ul class="nav justify-content-end mt-2 ">
        <li class="nav-item">
              <a class="nav-link foret navsize"  href="{{ path('app_home') }}" >Accueil</a>
          </li>
          <li class="nav-item">
              <a class="nav-link foret navsize"  href="{{ path('app_Services') }}">Services</a>
          </li>
          <li class="nav-item">
               <a class="nav-link foret navsize" href="{{ path('app_habitats') }}">habitats</a>
          </li>
          <li class="nav-item">
              <a class="nav-link foret navsize" href="#">Avis</a>
          </li>
          <li class="nav-item">
              <a class="nav-link  foret navsize" href="#">Contact</a>
          </li>
</ul>
    </div>

    <div class="col-2 mt-1 d-flex  align-items-center mb-1"> 
          <button type="button" class="btn buttonConnect "><a href="{{ path('admin') }}">Connexion</a></button>
        
    </div>

</div>