<!-- Modal -->

    
<div class="modal fade DarkWood " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content bois Paragraphe1 ">
       
            <div class="modal-header d-flex justify-content-center">
                
             <!--debut modal-->
                <h4 class="modal-title Title ">Voici l'habitats {{ habitat.nom }}</h4>
            </div>
            <div class="modal-body Paragraphe3">
                <p>{{ habitat.description }}</p>
            </div>
      
               <h4 class="modal-title">Voici les différents animaux présents dans cette habitats</h4>
           
           <!--debut animaux-->

           {% for animal in habitat.animals %}
            <div class="row Title">
                <h2>{{ animal.prenom }}</h2>
                <h3 class="mb-3">Race: {{ animal.race }}</h3>
                
                    <div class="container col-10">         
                        <img src="{{ vich_uploader_asset(animal.imageAnimal, 'imageFile') }}" alt="image {{ animal.race }}" width="350rem"   class="imageAnimalHabitats img-fluid">
                    </div>
                {#<p class="Paragraphe3 mt-3 ">{{ animal.rapportVeterinaire }}</p>#}
            </div>   
            {% endfor %}
             
       
           
                
                <button class="btn btn-inverse Paragraphe1  DarkWood" type="button " data-bs-dismiss="modal"><i class="icon icon-times icon-lg"></i> Fermer</button>
            </div>
            
        </div>
          
    </div>


       